In [1]:
import numpy as np
import pandas as pd

In [2]:
pt_csv = pd.read_csv('nba.csv')
pt_csv

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pt_csv.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [4]:
pt_csv.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
pt_csv.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [8]:
# making data frame from csv file
data = pd.read_csv('nba.csv',index_col="Name")

# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
Third =  data.loc["Terry Rozier"]
 
print(first, "\n\n\n", second, "\n\n\n", Third)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object


 Team        Boston Celtics
Number                12.0
Position                PG
Age                   22.0
Height                 6-2
Weight               190.0
College         Louisville
Salary           1824360.0
Name: Terry Rozier, dtype: object

In [9]:
# retrieving columns by indexing operator
f1 = data["Age"]
 
 
 
print(f1)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

In [15]:
# retrieving rows by iloc method 
row2 = data.iloc[2] 
 
print(row2)

Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

In [18]:
#Creating Dataframe
Emp_df = pd.DataFrame(data)
Emp_df

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# using isnull() function  
Emp_df.isnull()

                Team  Number  Position    Age  Height  Weight  College  Salary
Name
Avery Bradley  False   False     False  False   False   False    False   False
Jae Crowder    False   False     False  False   False   False    False   False
John Holland   False   False     False  False   False   False    False    True
R.J. Hunter    False   False     False  False   False   False    False   False
Jonas Jerebko  False   False     False  False   False   False     True   False
...              ...     ...       ...    ...     ...     ...      ...     ...
Shelvin Mack   False   False     False  False   False   False    False   False
Raul Neto      False   False     False  False   False   False     True   False
Tibor Pleiss   False   False     False  False   False   False     True   False
Jeff Withey    False   False     False  False   False   False    False   False
NaN             True    True      True   True    True    True     True    True

[458 rows x 8 columns]

In [21]:
# filling missing value using fillna()  
Emp_df.fillna(0)

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,0,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,0,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,0,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,0,0.0,0,0.0,0,0.0,0,0.0

In [22]:
# using dropna() function  
Emp_df.dropna()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...
Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [23]:
for i, j in Emp_df.iterrows():
    print(i, j)
    print()

Avery Bradley Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

Jae Crowder Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: Jae Crowder, dtype: object

John Holland Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

R.J. Hunter Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

Jonas Jerebko Team        Boston Celtics
Number                 8.0
Position                PF
Age                   29.0
Height                6-10
Weight               231.0
College                NaN
Salary           5000000.0
Name: Jonas Jerebko, dtype: object

Amir Johnson Team        Boston Celtics
Number                90.0
Position                PF
Age                   29.0
Height                 6-9
Weight               240.0
College                NaN
Salary          12000000.0
Name: Amir Johnson, dtype: object

Jordan Mickey Team        Boston Celtics
Number                55.0
Position                PF
Age                   21.0
Height                 6-8
Weight               235.0
College                LSU
Salary           1170960.0
Name: Jordan Mickey, dtype: object

Kelly Olynyk Team        Boston Celtics
Number                41.0
Position                 C
Age                   25.0
Height                 7-0
Weight               238.0
College            Gonzaga
Salary           2165160.0
Name: Kelly Olynyk, dtype: object

Terry Rozier Team        Boston Celtics
Number                12.0
Position                PG
Age                   22.0
Height                 6-2
Weight               190.0
College         Louisville
Salary           1824360.0
Name: Terry Rozier, dtype: object

Marcus Smart Team        Boston Celtics
Number                36.0
Position                PG
Age                   22.0
Height                 6-4
Weight               220.0
College     Oklahoma State
Salary           3431040.0
Name: Marcus Smart, dtype: object

Jared Sullinger Team        Boston Celtics
Number                 7.0
Position                 C
Age                   24.0
Height                 6-9
Weight               260.0
College         Ohio State
Salary           2569260.0
Name: Jared Sullinger, dtype: object

Isaiah Thomas Team        Boston Celtics
Number                 4.0
Position                PG
Age                   27.0
Height                 5-9
Weight               185.0
College         Washington
Salary           6912869.0
Name: Isaiah Thomas, dtype: object

Evan Turner Team        Boston Celtics
Number                11.0
Position                SG
Age                   27.0
Height                 6-7
Weight               220.0
College         Ohio State
Salary           3425510.0
Name: Evan Turner, dtype: object

James Young Team        Boston Celtics
Number                13.0
Position                SG
Age                   20.0
Height                 6-6
Weight               215.0
College           Kentucky
Salary           1749840.0
Name: James Young, dtype: object

Tyler Zeller Team        Boston Celtics
Number                44.0
Position                 C
Age                   26.0
Height                 7-0
Weight               253.0
College     North Carolina
Salary           2616975.0
Name: Tyler Zeller, dtype: object

Bojan Bogdanovic Team        Brooklyn Nets
Number               44.0
Position               SG
Age                  27.0
Height                6-8
Weight              216.0
College               NaN
Salary          3425510.0
Name: Bojan Bogdanovic, dtype: object

Markel Brown Team         Brooklyn Nets
Number                22.0
Position                SG
Age                   24.0
Height                 6-3
Weight               190.0
College     Oklahoma State
Salary            845059.0
Name: Markel Brown, dtype: object

Wayne Ellington Team         Brooklyn Nets
Number                21.0
Position                SG
Age                   28.0
Height                 6-4
Weight               200.0
College     North Carolina
Salary           1500000.0
Name: Wayne Ellington, dtype: object

Rondae Hollis-Jefferson Team        Brooklyn Nets
Number               24.0
Position               SG
Age                  21.0
Height                6-7
Weight              220.0
College           Arizona
Salary          1335480.0
Name: Rondae Hollis-Jefferson, dtype: object

Jarrett Jack Team        Brooklyn Nets
Number                2.0
Position               PG
Age                  32.0
Height                6-3
Weight              200.0
College      Georgia Tech
Salary          6300000.0
Name: Jarrett Jack, dtype: object

Sergey Karasev Team        Brooklyn Nets
Number               10.0
Position               SG
Age                  22.0
Height                6-7
Weight              208.0
College               NaN
Salary          1599840.0
Name: Sergey Karasev, dtype: object

Sean Kilpatrick Team        Brooklyn Nets
Number                6.0
Position               SG
Age                  26.0
Height                6-4
Weight              219.0
College        Cincinnati
Salary           134215.0
Name: Sean Kilpatrick, dtype: object

Shane Larkin Team        Brooklyn Nets
Number                0.0
Position               PG
Age                  23.0
Height               5-11
Weight              175.0
College        Miami (FL)
Salary          1500000.0
Name: Shane Larkin, dtype: object

Brook Lopez Team        Brooklyn Nets
Number               11.0
Position                C
Age                  28.0
Height                7-0
Weight              275.0
College          Stanford
Salary         19689000.0
Name: Brook Lopez, dtype: object

Chris McCullough Team        Brooklyn Nets
Number                1.0
Position               PF
Age                  21.0
Height               6-11
Weight              200.0
College          Syracuse
Salary          1140240.0
Name: Chris McCullough, dtype: object

Willie Reed Team        Brooklyn Nets
Number               33.0
Position               PF
Age                  26.0
Height               6-10
Weight              220.0
College       Saint Louis
Salary           947276.0
Name: Willie Reed, dtype: object

Thomas Robinson Team        Brooklyn Nets
Number               41.0
Position               PF
Age                  25.0
Height               6-10
Weight              237.0
College            Kansas
Salary           981348.0
Name: Thomas Robinson, dtype: object

Henry Sims Team        Brooklyn Nets
Number               14.0
Position                C
Age                  26.0
Height               6-10
Weight              248.0
College        Georgetown
Salary           947276.0
Name: Henry Sims, dtype: object

Donald Sloan Team        Brooklyn Nets
Number               15.0
Position               PG
Age                  28.0
Height                6-3
Weight              205.0
College         Texas A&M
Salary           947276.0
Name: Donald Sloan, dtype: object

Thaddeus Young Team        Brooklyn Nets
Number               30.0
Position               PF
Age                  27.0
Height                6-8
Weight              221.0
College      Georgia Tech
Salary         11235955.0
Name: Thaddeus Young, dtype: object

Arron Afflalo Team        New York Knicks
Number                  4.0
Position                 SG
Age                    30.0
Height                  6-5
Weight                210.0
College                UCLA
Salary            8000000.0
Name: Arron Afflalo, dtype: object

Lou Amundson Team        New York Knicks
Number                 17.0
Position                 PF
Age                    33.0
Height                  6-9
Weight                220.0
College                UNLV
Salary            1635476.0
Name: Lou Amundson, dtype: object

Thanasis Antetokounmpo Team        New York Knicks
Number                 43.0
Position                 SF
Age                    23.0
Height                  6-7
Weight                205.0
College                 NaN
Salary              30888.0
Name: Thanasis Antetokounmpo, dtype: object

Carmelo Anthony Team        New York Knicks
Number                  7.0
Position                 SF
Age                    32.0
Height                  6-8
Weight                240.0
College            Syracuse
Salary           22875000.0
Name: Carmelo Anthony, dtype: object

Jose Calderon Team        New York Knicks
Number                  3.0
Position                 PG
Age                    34.0
Height                  6-3
Weight                200.0
College                 NaN
Salary            7402812.0
Name: Jose Calderon, dtype: object

Cleanthony Early Team        New York Knicks
Number                 11.0
Position                 SF
Age                    25.0
Height                  6-8
Weight                210.0
College       Wichita State
Salary             845059.0
Name: Cleanthony Early, dtype: object

Langston Galloway Team        New York Knicks
Number                  2.0
Position                 SG
Age                    24.0
Height                  6-2
Weight                200.0
College      Saint Joseph's
Salary             845059.0
Name: Langston Galloway, dtype: object

Jerian Grant Team        New York Knicks
Number                 13.0
Position                 PG
Age                    23.0
Height                  6-4
Weight                195.0
College          Notre Dame
Salary            1572360.0
Name: Jerian Grant, dtype: object

Robin Lopez Team        New York Knicks
Number                  8.0
Position                  C
Age                    28.0
Height                  7-0
Weight                255.0
College            Stanford
Salary           12650000.0
Name: Robin Lopez, dtype: object

Kyle O'Quinn Team        New York Knicks
Number                  9.0
Position                 PF
Age                    26.0
Height                 6-10
Weight                250.0
College       Norfolk State
Salary            3750000.0
Name: Kyle O'Quinn, dtype: object

Kristaps Porzingis Team        New York Knicks
Number                  6.0
Position                 PF
Age                    20.0
Height                  7-3
Weight                240.0
College                 NaN
Salary            4131720.0
Name: Kristaps Porzingis, dtype: object

Kevin Seraphin Team        New York Knicks
Number                  1.0
Position                  C
Age                    26.0
Height                 6-10
Weight                278.0
College                 NaN
Salary            2814000.0
Name: Kevin Seraphin, dtype: object

Lance Thomas Team        New York Knicks
Number                 42.0
Position                 SF
Age                    28.0
Height                  6-8
Weight                235.0
College                Duke
Salary            1636842.0
Name: Lance Thomas, dtype: object

Sasha Vujacic Team        New York Knicks
Number                 18.0
Position                 SG
Age                    32.0
Height                  6-7
Weight                195.0
College                 NaN
Salary             947276.0
Name: Sasha Vujacic, dtype: object

Derrick Williams Team        New York Knicks
Number                 23.0
Position                 PF
Age                    25.0
Height                  6-8
Weight                240.0
College             Arizona
Salary            4000000.0
Name: Derrick Williams, dtype: object

Tony Wroten Team        New York Knicks
Number                  5.0
Position                 SG
Age                    23.0
Height                  6-6
Weight                205.0
College          Washington
Salary             167406.0
Name: Tony Wroten, dtype: object

Elton Brand Team        Philadelphia 76ers
Number                    42.0
Position                    PF
Age                       37.0
Height                     6-9
Weight                   254.0
College                   Duke
Salary                     NaN
Name: Elton Brand, dtype: object

Isaiah Canaan Team        Philadelphia 76ers
Number                     0.0
Position                    PG
Age                       25.0
Height                     6-0
Weight                   201.0
College           Murray State
Salary                947276.0
Name: Isaiah Canaan, dtype: object

Robert Covington Team        Philadelphia 76ers
Number                    33.0
Position                    SF
Age                       25.0
Height                     6-9
Weight                   215.0
College        Tennessee State
Salary               1000000.0
Name: Robert Covington, dtype: object

Joel Embiid Team        Philadelphia 76ers
Number                    21.0
Position                     C
Age                       22.0
Height                     7-0
Weight                   250.0
College                 Kansas
Salary               4626960.0
Name: Joel Embiid, dtype: object

Jerami Grant Team        Philadelphia 76ers
Number                    39.0
Position                    SF
Age                       22.0
Height                     6-8
Weight                   210.0
College               Syracuse
Salary                845059.0
Name: Jerami Grant, dtype: object

Richaun Holmes Team        Philadelphia 76ers
Number                    22.0
Position                    PF
Age                       22.0
Height                    6-10
Weight                   245.0
College          Bowling Green
Salary               1074169.0
Name: Richaun Holmes, dtype: object

Carl Landry Team        Philadelphia 76ers
Number                     7.0
Position                    PF
Age                       32.0
Height                     6-9
Weight                   248.0
College                 Purdue
Salary               6500000.0
Name: Carl Landry, dtype: object

Kendall Marshall Team        Philadelphia 76ers
Number                     5.0
Position                    PG
Age                       24.0
Height                     6-4
Weight                   200.0
College         North Carolina
Salary               2144772.0
Name: Kendall Marshall, dtype: object

T.J. McConnell Team        Philadelphia 76ers
Number                    12.0
Position                    PG
Age                       24.0
Height                     6-2
Weight                   200.0
College                Arizona
Salary                525093.0
Name: T.J. McConnell, dtype: object

Nerlens Noel Team        Philadelphia 76ers
Number                     4.0
Position                    PF
Age                       22.0
Height                    6-11
Weight                   228.0
College               Kentucky
Salary               3457800.0
Name: Nerlens Noel, dtype: object

Jahlil Okafor Team        Philadelphia 76ers
Number                     8.0
Position                     C
Age                       20.0
Height                    6-11
Weight                   275.0
College                   Duke
Salary               4582680.0
Name: Jahlil Okafor, dtype: object

Ish Smith Team        Philadelphia 76ers
Number                     1.0
Position                    PG
Age                       27.0
Height                     6-0
Weight                   175.0
College            Wake Forest
Salary                947276.0
Name: Ish Smith, dtype: object

Nik Stauskas Team        Philadelphia 76ers
Number                    11.0
Position                    SG
Age                       22.0
Height                     6-6
Weight                   205.0
College               Michigan
Salary               2869440.0
Name: Nik Stauskas, dtype: object

Hollis Thompson Team        Philadelphia 76ers
Number                    31.0
Position                    SG
Age                       25.0
Height                     6-8
Weight                   206.0
College             Georgetown
Salary                947276.0
Name: Hollis Thompson, dtype: object

Christian Wood Team        Philadelphia 76ers
Number                    35.0
Position                    PF
Age                       20.0
Height                    6-11
Weight                   220.0
College                   UNLV
Salary                525093.0
Name: Christian Wood, dtype: object

Bismack Biyombo Team        Toronto Raptors
Number                  8.0
Position                  C
Age                    23.0
Height                  6-9
Weight                245.0
College                 NaN
Salary            2814000.0
Name: Bismack Biyombo, dtype: object

Bruno Caboclo Team        Toronto Raptors
Number                 20.0
Position                 SF
Age                    20.0
Height                  6-9
Weight                205.0
College                 NaN
Salary            1524000.0
Name: Bruno Caboclo, dtype: object

DeMarre Carroll Team        Toronto Raptors
Number                  5.0
Position                 SF
Age                    29.0
Height                  6-8
Weight                212.0
College            Missouri
Salary           13600000.0
Name: DeMarre Carroll, dtype: object

DeMar DeRozan Team        Toronto Raptors
Number                 10.0
Position                 SG
Age                    26.0
Height                  6-7
Weight                220.0
College                 USC
Salary           10050000.0
Name: DeMar DeRozan, dtype: object

James Johnson Team        Toronto Raptors
Number                  3.0
Position                 PF
Age                    29.0
Height                  6-9
Weight                250.0
College         Wake Forest
Salary            2500000.0
Name: James Johnson, dtype: object

Cory Joseph Team        Toronto Raptors
Number                  6.0
Position                 PG
Age                    24.0
Height                  6-3
Weight                190.0
College               Texas
Salary            7000000.0
Name: Cory Joseph, dtype: object

Kyle Lowry Team        Toronto Raptors
Number                  7.0
Position                 PG
Age                    30.0
Height                  6-0
Weight                205.0
College           Villanova
Salary           12000000.0
Name: Kyle Lowry, dtype: object

Lucas Nogueira Team        Toronto Raptors
Number                 92.0
Position                  C
Age                    23.0
Height                  7-0
Weight                220.0
College                 NaN
Salary            1842000.0
Name: Lucas Nogueira, dtype: object

Patrick Patterson Team        Toronto Raptors
Number                 54.0
Position                 PF
Age                    27.0
Height                  6-9
Weight                235.0
College            Kentucky
Salary            6268675.0
Name: Patrick Patterson, dtype: object

Norman Powell Team        Toronto Raptors
Number                 24.0
Position                 SG
Age                    23.0
Height                  6-4
Weight                215.0
College                UCLA
Salary             650000.0
Name: Norman Powell, dtype: object

Terrence Ross Team        Toronto Raptors
Number                 31.0
Position                 SF
Age                    25.0
Height                  6-7
Weight                195.0
College          Washington
Salary            3553917.0
Name: Terrence Ross, dtype: object

Luis Scola Team        Toronto Raptors
Number                  4.0
Position                 PF
Age                    36.0
Height                  6-9
Weight                240.0

Mike Conley Team        Memphis Grizzlies
Number                   11.0
Position                   PG
Age                      28.0
Height                    6-1
Weight                  175.0
College            Ohio State
Salary              9588426.0
Name: Mike Conley, dtype: object

Bryce Cotton Team        Memphis Grizzlies
Number                    8.0
Position                   PG
Age                      23.0
Height                    6-1
Weight                  165.0
College            Providence
Salary               700902.0
Name: Bryce Cotton, dtype: object

Jordan Farmar Team        Memphis Grizzlies
Number                    4.0
Position                   PG
Age                      29.0
Height                    6-2
Weight                  180.0
College                  UCLA
Salary                    NaN
Name: Jordan Farmar, dtype: object

Marc Gasol Team        Memphis Grizzlies
Number                   33.0
Position                    C
Age                      31.0
Height                    7-1
Weight                  255.0
College                   NaN
Salary             19688000.0
Name: Marc Gasol, dtype: object

JaMychal Green Team        Memphis Grizzlies
Number                    0.0
Position                   PF
Age                      25.0
Height                    6-9
Weight                  227.0
College               Alabama
Salary               845059.0
Name: JaMychal Green, dtype: object

P.J. Hairston Team        Memphis Grizzlies
Number                   19.0
Position                   SF
Age                      23.0
Height                    6-6
Weight                  230.0
College        North Carolina
Salary              1201440.0
Name: P.J. Hairston, dtype: object

Jarell Martin Team        Memphis Grizzlies
Number                   10.0
Position                   PF
Age                      22.0
Height                   6-10
Weight                  239.0
College                   LSU
Salary              1230840.0
Name: Jarell Martin, dtype: object

Ray McCallum Team        Memphis Grizzlies
Number                    5.0
Position                   PG
Age                      24.0
Height                    6-3
Weight                  190.0
College               Detroit
Salary                    NaN
Name: Ray McCallum, dtype: object

Xavier Munford Team        Memphis Grizzlies
Number                   14.0
Position                   PG
Age                      24.0
Height                    6-3
Weight                  180.0
College          Rhode Island
Salary                    NaN
Name: Xavier Munford, dtype: object

Zach Randolph Team        Memphis Grizzlies
Number                   50.0
Position                   PF
Age                      34.0
Height                    6-9
Weight                  260.0
College        Michigan State
Salary              9638555.0
Name: Zach Randolph, dtype: object

Lance Stephenson Team        Memphis Grizzlies
Number                    1.0
Position                   SF
Age                      25.0
Height                    6-5
Weight                  230.0
College            Cincinnati
Salary              9000000.0
Name: Lance Stephenson, dtype: object

Alex Stepheson Team        Memphis Grizzlies
Number                   35.0
Position                   PF
Age                      28.0
Height                   6-10
Weight                  270.0
College                   USC
Salary                    NaN
Name: Alex Stepheson, dtype: object

Brandan Wright Team        Memphis Grizzlies
Number                   34.0
Position                   PF
Age                      28.0
Height                   6-10
Weight                  210.0
College        North Carolina
Salary              5464000.0
Name: Brandan Wright, dtype: object

Alexis Ajinca Team        New Orleans Pelicans
Number                      42.0
Position                       C
Age                         28.0
Height                       7-2
Weight                     248.0
College                      NaN
Salary                 4389607.0
Name: Alexis Ajinca, dtype: object

Ryan Anderson Team        New Orleans Pelicans
Number                      33.0
Position                      PF
Age                         28.0
Height                      6-10
Weight                     240.0
College               California
Salary                 8500000.0
Name: Ryan Anderson, dtype: object

Omer Asik Team        New Orleans Pelicans
Number                       3.0
Position                       C
Age                         29.0
Height                       7-0
Weight                     255.0
College                      NaN
Salary                 9213483.0
Name: Omer Asik, dtype: object

Luke Babbitt Team        New Orleans Pelicans
Number                       8.0
Position                      SF
Age                         26.0
Height                       6-9
Weight                     225.0
College                   Nevada
Salary                 1100602.0
Name: Luke Babbitt, dtype: object

Norris Cole Team        New Orleans Pelicans
Number                      30.0
Position                      PG
Age                         27.0
Height                       6-2
Weight                     175.0
College          Cleveland State
Salary                 3036927.0
Name: Norris Cole, dtype: object

Dante Cunningham Team        New Orleans Pelicans
Number                      44.0
Position                      PF
Age                         29.0
Height                       6-8
Weight                     230.0
College                Villanova
Salary                 2850000.0
Name: Dante Cunningham, dtype: object

Anthony Davis Team        New Orleans Pelicans
Number                      23.0
Position                      PF
Age                         23.0
Height                      6-10
Weight                     253.0
College                 Kentucky
Salary                 7070730.0
Name: Anthony Davis, dtype: object

Bryce Dejean-Jones Team        New Orleans Pelicans
Number                      31.0
Position                      SG
Age                         23.0
Height                       6-6
Weight                     203.0
College               Iowa State
Salary                  169883.0
Name: Bryce Dejean-Jones, dtype: object

Toney Douglas Team        New Orleans Pelicans
Number                      16.0
Position                      PG
Age                         30.0
Height                       6-2
Weight                     195.0
College            Florida State
Salary                 1164858.0
Name: Toney Douglas, dtype: object

James Ennis Team        New Orleans Pelicans
Number                       4.0
Position                      SF
Age                         25.0
Height                       6-7
Weight                     210.0
College         Long Beach State
Salary                  845059.0
Name: James Ennis, dtype: object

Tyreke Evans Team        New Orleans Pelicans
Number                       1.0
Position                      SG
Age                         26.0
Height                       6-6
Weight                     220.0
College                  Memphis
Salary                10734586.0
Name: Tyreke Evans, dtype: object

Tim Frazier Team        New Orleans Pelicans
Number                       2.0
Position                      PG
Age                         25.0
Height                       6-1
Weight                     170.0
College               Penn State
Salary                  845059.0
Name: Tim Frazier, dtype: object

Alonzo Gee Team        New Orleans Pelicans
Number                      15.0
Position                      SF
Age                         29.0
Height                       6-6
Weight                     225.0
College                  Alabama
Salary                 1320000.0
Name: Alonzo Gee, dtype: object

Eric Gordon Team        New Orleans Pelicans
Number                      10.0
Position                      SG
Age                         27.0
Height                       6-4
Weight                     215.0
College                  Indiana
Salary                15514031.0
Name: Eric Gordon, dtype: object

Jordan Hamilton Team        New Orleans Pelicans
Number                      25.0
Position                      SG
Age                         25.0
Height                       6-7
Weight                     220.0
College                    Texas
Salary                 1015421.0
Name: Jordan Hamilton, dtype: object

Jrue Holiday Team        New Orleans Pelicans
Number                      11.0
Position                      PG
Age                         25.0
Height                       6-4
Weight                     205.0
College                     UCLA
Salary                10595507.0
Name: Jrue Holiday, dtype: object

Orlando Johnson Team        New Orleans Pelicans
Number                       0.0
Position                      SG
Age                         27.0
Height                       6-5
Weight                     220.0
College         UC Santa Barbara
Salary                   55722.0
Name: Orlando Johnson, dtype: object

Kendrick Perkins Team        New Orleans Pelicans
Number                       5.0
Position                       C
Age                         31.0
Height                      6-10
Weight                     270.0
College                      NaN
Salary                  947276.0
Name: Kendrick Perkins, dtype: object

Quincy Pondexter Team        New Orleans Pelicans
Number                      20.0
Position                      SF
Age                         28.0
Height                       6-7
Weight                     220.0
College               Washington
Salary                 3382023.0
Name: Quincy Pondexter, dtype: object

LaMarcus Aldridge Team        San Antonio Spurs
Number                   12.0
Position                   PF
Age                      30.0
Height                   6-11
Weight                  240.0
College                 Texas
Salary             19689000.0
Name: LaMarcus Aldridge, dtype: object

Kyle Anderson Team        San Antonio Spurs
Number                    1.0
Position                   SF
Age                      22.0
Height                    6-9
Weight                  230.0
College                  UCLA
Salary              1142880.0
Name: Kyle Anderson, dtype: object

Matt Bonner Team        San Antonio Spurs
Number                   15.0
Position                    C
Age                      36.0
Height                   6-10
Weight                  235.0
College               Florida
Salary               947276.0
Name: Matt Bonner, dtype: object

Boris Diaw Team        San Antonio Spurs
Number                   33.0
Position                    C
Age                      34.0
Height                    6-8
Weight                  250.0
College                   NaN
Salary              7500000.0
Name: Boris Diaw, dtype: object

Tim Duncan Team        San Antonio Spurs
Number                   21.0
Position                    C
Age                      40.0
Height                   6-11
Weight                  250.0
College           Wake Forest
Salary              5250000.0
Name: Tim Duncan, dtype: object

Manu Ginobili Team        San Antonio Spurs
Number                   20.0
Position                   SG
Age                      38.0
Height                    6-6
Weight                  205.0
College                   NaN
Salary              2814000.0
Name: Manu Ginobili, dtype: object

Danny Green Team        San Antonio Spurs
Number                   14.0
Position                   SG
Age                      28.0
Height                    6-6
Weight                  215.0
College        North Carolina
Salary             10000000.0
Name: Danny Green, dtype: object

Kawhi Leonard Team        San Antonio Spurs
Number                    2.0
Position                   SF
Age                      24.0
Height                    6-7
Weight                  230.0
College       San Diego State
Salary             16407500.0
Name: Kawhi Leonard, dtype: object

Boban Marjanovic Team        San Antonio Spurs
Number                   40.0
Position                    C
Age                      27.0
Height                    7-3
Weight                  290.0
College                   NaN
Salary              1200000.0
Name: Boban Marjanovic, dtype: object

Kevin Martin Team        San Antonio Spurs
Number                   23.0
Position                   SG
Age                      33.0
Height                    6-7
Weight                  199.0
College      Western Carolina
Salary               200600.0
Name: Kevin Martin, dtype: object

Andre Miller Team        San Antonio Spurs
Number                   24.0
Position                   PG
Age                      40.0
Height                    6-3
Weight                  200.0
College                  Utah
Salary               250750.0
Name: Andre Miller, dtype: object

Patty Mills Team        San Antonio Spurs
Number                    8.0
Position                   PG
Age                      27.0
Height                    6-0
Weight                  185.0
College          Saint Mary's
Salary              3578947.0
Name: Patty Mills, dtype: object

Tony Parker Team        San Antonio Spurs
Number                    9.0
Position                   PG
Age                      34.0
Height                    6-2
Weight                  185.0
College                   NaN
Salary             13437500.0
Name: Tony Parker, dtype: object

Jonathon Simmons Team        San Antonio Spurs
Number                   17.0
Position                   SG
Age                      26.0
Height                    6-6
Weight                  195.0
College               Houston
Salary               525093.0
Name: Jonathon Simmons, dtype: object

David West Team        San Antonio Spurs
Number                   30.0
Position                   PF
Age                      35.0
Height                    6-9
Weight                  250.0
College                Xavier
Salary              1499187.0
Name: David West, dtype: object

Kent Bazemore Team        Atlanta Hawks
Number               24.0
Position               SF
Age                  26.0
Height                6-5
Weight              201.0
College      Old Dominion
Salary          2000000.0
Name: Kent Bazemore, dtype: object

Tim Hardaway Jr. Team        Atlanta Hawks
Number               10.0
Position               SG
Age                  24.0
Height                6-6
Weight              205.0
College          Michigan
Salary          1304520.0
Name: Tim Hardaway Jr., dtype: object

Kirk Hinrich Team        Atlanta Hawks
Number               12.0
Position               SG
Age                  35.0
Height                6-4
Weight              190.0
College            Kansas
Salary          2854940.0
Name: Kirk Hinrich, dtype: object

Al Horford Team        Atlanta Hawks
Number               15.0
Position                C
Age                  30.0
Height               6-10
Weight              245.0
College           Florida
Salary         12000000.0
Name: Al Horford, dtype: object

Kris Humphries Team        Atlanta Hawks
Number               43.0
Position               PF
Age                  31.0
Height                6-9
Weight              235.0
College         Minnesota
Salary          1000000.0
Name: Kris Humphries, dtype: object

Kyle Korver Team        Atlanta Hawks
Number               26.0
Position               SG
Age                  35.0
Height                6-7
Weight              212.0
College         Creighton
Salary          5746479.0
Name: Kyle Korver, dtype: object

Paul Millsap Team         Atlanta Hawks
Number                 4.0
Position                PF
Age                   31.0
Height                 6-8
Weight               246.0
College     Louisiana Tech
Salary          18671659.0
Name: Paul Millsap, dtype: object

Mike Muscala Team        Atlanta Hawks
Number               31.0
Position               PF
Age                  24.0
Height               6-11
Weight              240.0
College          Bucknell
Salary           947276.0
Name: Mike Muscala, dtype: object

Lamar Patterson Team        Atlanta Hawks
Number               13.0
Position               SG
Age                  24.0
Height                6-5
Weight              225.0
College        Pittsburgh
Salary           525093.0
Name: Lamar Patterson, dtype: object

Dennis Schroder Team        Atlanta Hawks
Number               17.0
Position               PG
Age                  22.0
Height                6-1
Weight              172.0
College               NaN
Salary          1763400.0
Name: Dennis Schroder, dtype: object

Mike Scott Team        Atlanta Hawks
Number               32.0
Position               PF
Age                  27.0
Height                6-8
Weight              237.0
College          Virginia
Salary          3333333.0
Name: Mike Scott, dtype: object

Thabo Sefolosha Team        Atlanta Hawks
Number               25.0
Position               SF
Age                  32.0
Height                6-7
Weight              220.0
College               NaN
Salary          4000000.0
Name: Thabo Sefolosha, dtype: object

Tiago Splitter Team        Atlanta Hawks
Number               11.0
Position                C
Age                  31.0
Height               6-11
Weight              245.0
College               NaN
Salary          9756250.0
Name: Tiago Splitter, dtype: object

Walter Tavares Team        Atlanta Hawks
Number               22.0
Position                C
Age                  24.0
Height                7-3
Weight              260.0
College               NaN
Salary          1000000.0
Name: Walter Tavares, dtype: object

Jeff Teague Team        Atlanta Hawks
Number                0.0
Position               PG
Age                  27.0
Height                6-2
Weight              186.0
College       Wake Forest
Salary          8000000.0
Name: Jeff Teague, dtype: object

Nicolas Batum Team        Charlotte Hornets
Number                    5.0
Position                   SG
Age                      27.0
Height                    6-8
Weight                  200.0
College                   NaN
Salary             13125306.0
Name: Nicolas Batum, dtype: object

Troy Daniels Team            Charlotte Hornets
Number                       30.0
Position                       SG
Age                          24.0
Height                        6-4
Weight                      205.0
College     Virginia Commonwealth
Salary                   947276.0
Name: Troy Daniels, dtype: object

Jorge Gutierrez Team        Charlotte Hornets
Number                   12.0
Position                   PG
Age                      27.0
Height                    6-3
Weight                  189.0
College            California
Salary               189455.0
Name: Jorge Gutierrez, dtype: object

Tyler Hansbrough Team        Charlotte Hornets
Number                   50.0
Position                   PF
Age                      30.0
Height                    6-9
Weight                  250.0
College        North Carolina
Salary               947276.0
Name: Tyler Hansbrough, dtype: object

Aaron Harrison Team        Charlotte Hornets
Number                    9.0
Position                   SG
Age                      21.0
Height                    6-6
Weight                  210.0
College              Kentucky
Salary               525093.0
Name: Aaron Harrison, dtype: object

Spencer Hawes Team        Charlotte Hornets
Number                    0.0
Position                   PF
Age                      28.0
Height                    7-1
Weight                  245.0
College            Washington
Salary              6110034.0
Name: Spencer Hawes, dtype: object

Al Jefferson Team        Charlotte Hornets
Number                   25.0
Position                    C
Age                      31.0
Height                   6-10
Weight                  289.0
College                   NaN
Salary             13500000.0

In [24]:
# creating a list of dataframe columns
columns = list(Emp_df)
 
for i in columns:
 
    # printing the third element of the column
    print (Emp_df[i][2])

Boston Celtics
30.0
SG
27.0
6-5
205.0
Boston University
nan

In [25]:
emp_df2 = Emp_df.dropna()

In [26]:
emp_df2

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...
Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [30]:
data.head()
# inserting column with static value in data frame
data.insert(8, "Salary_Stat", "Medium")

In [31]:
data.head()

,Team,Number,Position,Age,Height,Weight,College,Salary,Salary_Stat
Name,,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Medium
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Medium
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Medium
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Medium
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Medium

In [35]:
arr = Emp_df["Team"].unique()

print(arr)

['Boston Celtics' 'Brooklyn Nets' 'New York Knicks' 'Philadelphia 76ers'
 'Toronto Raptors' 'Golden State Warriors' 'Los Angeles Clippers'
 'Los Angeles Lakers' 'Phoenix Suns' 'Sacramento Kings' 'Chicago Bulls'
 'Cleveland Cavaliers' 'Detroit Pistons' 'Indiana Pacers'
 'Milwaukee Bucks' 'Dallas Mavericks' 'Houston Rockets'
 'Memphis Grizzlies' 'New Orleans Pelicans' 'San Antonio Spurs'
 'Atlanta Hawks' 'Charlotte Hornets' 'Miami Heat' 'Orlando Magic'
 'Washington Wizards' 'Denver Nuggets' 'Minnesota Timberwolves'
 'Oklahoma City Thunder' 'Portland Trail Blazers' 'Utah Jazz' nan]

In [38]:
Emp_df.nunique(axis=0, dropna=True)

Team            30
Number          53
Position         5
Age             22
Height          18
Weight          87
College        118
Salary         309
Salary_Stat      1
dtype: int64

In [39]:
# creating bool series True for NaN values
bool_series = pd.isnull(data["Team"])

In [40]:
data[bool_series]

     Team  Number Position  Age Height  Weight College  Salary Salary_Stat
Name
NaN   NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN      Medium

In [41]:
# creating bool series False for NaN values
bool_series = pd.notnull(data["Salary"])
 
# displayed data only with team = NaN
data[bool_series]

,Team,Number,Position,Age,Height,Weight,College,Salary,Salary_Stat
Name,,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Medium
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Medium
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Medium
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Medium
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0,Medium
...,...,...,...,...,...,...,...,...,...
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,Medium
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,Medium
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,Medium
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,Medium
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,Medium

In [43]:
# isin() Method extracts rows from a DataFrame where a column value exists in a predefined collection
# creating a bool series from isin()
new = data["College"].isin(["Kansas"])
  
# displaying data with gender = male only
data[new]

,Team,Number,Position,Age,Height,Weight,College,Salary,Salary_Stat
Name,,,,,,,,,
Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0,Medium
Joel Embiid,Philadelphia 76ers,21.0,C,22.0,7-0,250.0,Kansas,4626960.0,Medium
Brandon Rush,Golden State Warriors,4.0,SF,30.0,6-6,220.0,Kansas,1270964.0,Medium
Cole Aldrich,Los Angeles Clippers,45.0,C,27.0,6-11,250.0,Kansas,1100602.0,Medium
Paul Pierce,Los Angeles Clippers,34.0,SF,38.0,6-7,235.0,Kansas,3376000.0,Medium
Tarik Black,Los Angeles Lakers,28.0,C,24.0,6-9,250.0,Kansas,845059.0,Medium
Ben McLemore,Sacramento Kings,23.0,SG,23.0,6-5,195.0,Kansas,3156600.0,Medium
Sasha Kaun,Cleveland Cavaliers,14.0,C,31.0,6-11,260.0,Kansas,1276000.0,Medium
Marcus Morris,Detroit Pistons,13.0,PF,26.0,6-9,235.0,Kansas,5000000.0,Medium
Kirk Hinrich,Atlanta Hawks,12.0,SG,35.0,6-4,190.0,Kansas,2854940.0,Medium
Drew Gooden,Washington Wizards,90.0,PF,34.0,6-10,250.0,Kansas,3300000.0,Medium
Markieff Morris,Washington Wizards,5.0,PF,26.0,6-10,245.0,Kansas,8000000.0,Medium
Kelly Oubre Jr.,Washington Wizards,12.0,SF,20.0,6-7,205.0,Kansas,1920240.0,Medium
Darrell Arthur,Denver Nuggets,0.0,PF,28.0,6-9,235.0,Kansas,2814000.0,Medium
Andrew Wiggins,Minnesota Timberwolves,22.0,SG,21.0,6-8,199.0,Kansas,5758680.0,Medium
Nick Collison,Oklahoma City Thunder,4.0,PF,35.0,6-10,255.0,Kansas,3750000.0,Medium
Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0,Medium
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,Medium

In [45]:
# creating filters of bool series from isin()
filter1 = data["College"].isin(["Kentucky"])
filter2 = data["Height"].isin(["6-6", "7-0", "6-10" ])
  
# displaying data with both filter applied and mandatory 
data[filter1 & filter2]

,Team,Number,Position,Age,Height,Weight,College,Salary,Salary_Stat
Name,,,,,,,,,
James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0,Medium
Devin Booker,Phoenix Suns,1.0,SG,19.0,6-6,206.0,Kentucky,2127840.0,Medium
Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0,Medium
Anthony Davis,New Orleans Pelicans,23.0,PF,23.0,6-10,253.0,Kentucky,7070730.0,Medium
Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0,Medium
Karl-Anthony Towns,Minnesota Timberwolves,32.0,C,20.0,7-0,244.0,Kentucky,5703600.0,Medium
Nazr Mohammed,Oklahoma City Thunder,13.0,C,38.0,6-10,250.0,Kentucky,222888.0,Medium
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,Medium

In [54]:
# astype() - Method converts the data types in a Series
Emp_df4 = pd.read_csv("nba.csv")
# Printing the first 10 rows of 
# the data frame for visualization
  
Emp_df4[:10]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [55]:
# drop all those rows which 
# have any 'nan' value in it.
Emp_df4.dropna(inplace = True)
Emp_df4

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [56]:
# let's find out the data type of Weight column
before = type(Emp_df4.Weight[0])
  
# Now we will convert it into 'int64' type.
Emp_df4.Weight = Emp_df4.Weight.astype('int64')
  
# let's find out the data type after casting
after = type(Emp_df4.Weight[0])
  
# print the value of before
print(before)
  
# print the value of after
print(after)

<class 'numpy.float64'>
<class 'numpy.int64'>

In [57]:
Emp_df4

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231,Kansas,947276.0

In [58]:
# Drop the rows with 'nan' values
Emp_df3 = Emp_df4.dropna()
  
# print the existing data type of each column
Emp_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      364 non-null    object
 1   Team      364 non-null    object
 2   Number    364 non-null    float64
 3   Position  364 non-null    object
 4   Age       364 non-null    float64
 5   Height    364 non-null    object
 6   Weight    364 non-null    int64
 7   College   364 non-null    object
 8   Salary    364 non-null    float64
dtypes: float64(3), int64(1), object(5)
memory usage: 36.5+ KB

In [59]:
# Passed a dictionary to astype() function 
Emp_df4 = Emp_df4.astype({"Name":'category', "Age":'int64'})
  
# Now print the data type 
# of all columns after change
Emp_df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      364 non-null    category
 1   Team      364 non-null    object
 2   Number    364 non-null    float64
 3   Position  364 non-null    object
 4   Age       364 non-null    int64
 5   Height    364 non-null    object
 6   Weight    364 non-null    int64
 7   College   364 non-null    object
 8   Salary    364 non-null    float64
dtypes: category(1), float64(2), int64(2), object(4)
memory usage: 45.4+ KB

In [60]:
Emp_df4

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25,6-6,235,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22,6-5,185,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21,6-8,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25,7-0,238,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23,6-8,206,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26,6-6,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20,6-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26,6-3,203,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26,7-0,231,Kansas,947276.0

In [63]:
 # Dataframe.sort_values() Single Parameter Sorting
    # sorting data frame by name
pt_csv.sort_values("Name", axis = 0, ascending = True,
                 inplace = True, na_position ='last')
 
# display
pt_csv

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# Changing position of Null values

# sorting data frame by name
pt_csv.sort_values("Salary", axis = 0, ascending = True,
                 inplace = True, na_position ='first')
 
pt_csv
# display

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
273,Alex Stepheson,Memphis Grizzlies,35.0,PF,28.0,6-10,270.0,USC,NaN
397,Axel Toupane,Denver Nuggets,6.0,SG,23.0,6-7,210.0,NaN,NaN
350,Briante Weber,Miami Heat,12.0,PG,23.0,6-2,165.0,Virginia Commonwealth,NaN
171,Dahntay Jones,Cleveland Cavaliers,30.0,SG,35.0,6-6,225.0,Duke,NaN
353,Dorell Wright,Miami Heat,11.0,SF,30.0,6-9,205.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
339,Chris Bosh,Miami Heat,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
251,Dwight Howard,Houston Rockets,12.0,C,30.0,6-11,265.0,NaN,22359364.0
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
169,LeBron James,Cleveland Cavaliers,23.0,SF,31.0,6-8,250.0,NaN,22970500.0
109,Kobe Bryant,Los Angeles Lakers,24.0,SF,37.0,6-6,212.0,NaN,25000000.0

In [65]:
# Dataframe.sort_values() Multiple Parameter Sorting:

#sorting data frame by Team and then By names
pt_csv.sort_values(["Team", "Name"], axis=0,
                 ascending=True, inplace=True)
  
#display
pt_csv

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
318,Dennis Schroder,Atlanta Hawks,17.0,PG,22.0,6-1,172.0,NaN,1763400.0
323,Jeff Teague,Atlanta Hawks,0.0,PG,27.0,6-2,186.0,Wake Forest,8000000.0
309,Kent Bazemore,Atlanta Hawks,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
311,Kirk Hinrich,Atlanta Hawks,12.0,SG,35.0,6-4,190.0,Kansas,2854940.0
...,...,...,...,...,...,...,...,...,...
376,Markieff Morris,Washington Wizards,5.0,PF,26.0,6-10,245.0,Kansas,8000000.0
375,Nene Hilario,Washington Wizards,42.0,C,33.0,6-11,250.0,NaN,13000000.0
378,Otto Porter Jr.,Washington Wizards,22.0,SF,23.0,6-8,198.0,Georgetown,4662960.0
379,Ramon Sessions,Washington Wizards,7.0,PG,30.0,6-3,190.0,Nevada,2170465.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
#sorting data frame by Team and then By names
pt_csv.sort_values(["Team", "Name"], axis=0,
                 ascending=[True,False], inplace=True)
  
#display
pt_csv

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
322,Walter Tavares,Atlanta Hawks,22.0,C,24.0,7-3,260.0,NaN,1000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10.0,SG,24.0,6-6,205.0,Michigan,1304520.0
321,Tiago Splitter,Atlanta Hawks,11.0,C,31.0,6-11,245.0,NaN,9756250.0
320,Thabo Sefolosha,Atlanta Hawks,25.0,SF,32.0,6-7,220.0,NaN,4000000.0
315,Paul Millsap,Atlanta Hawks,4.0,PF,31.0,6-8,246.0,Louisiana Tech,18671659.0
...,...,...,...,...,...,...,...,...,...
380,Garrett Temple,Washington Wizards,17.0,SG,30.0,6-6,195.0,LSU,1100602.0
372,Drew Gooden,Washington Wizards,90.0,PF,34.0,6-10,250.0,Kansas,3300000.0
369,Bradley Beal,Washington Wizards,3.0,SG,22.0,6-5,207.0,Florida,5694674.0
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
#sorting data frame by Team, age and height
pt_csv.sort_values(["Team", "Age", "Height"], axis=0,
                 ascending=[False,True,False],
inplace=True)
  
#display
pt_csv

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
377,Kelly Oubre Jr.,Washington Wizards,12.0,SF,20.0,6-7,205.0,Kansas,1920240.0
369,Bradley Beal,Washington Wizards,3.0,SG,22.0,6-5,207.0,Florida,5694674.0
378,Otto Porter Jr.,Washington Wizards,22.0,SF,23.0,6-8,198.0,Georgetown,4662960.0
371,Jarell Eddie,Washington Wizards,8.0,SG,24.0,6-7,218.0,Virginia Tech,561716.0
382,John Wall,Washington Wizards,2.0,PG,25.0,6-4,195.0,Kentucky,15851950.0
...,...,...,...,...,...,...,...,...,...
321,Tiago Splitter,Atlanta Hawks,11.0,C,31.0,6-11,245.0,NaN,9756250.0
320,Thabo Sefolosha,Atlanta Hawks,25.0,SF,32.0,6-7,220.0,NaN,4000000.0
314,Kyle Korver,Atlanta Hawks,26.0,SG,35.0,6-7,212.0,Creighton,5746479.0
311,Kirk Hinrich,Atlanta Hawks,12.0,SG,35.0,6-4,190.0,Kansas,2854940.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN