In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\anaconda3\\envs\\DataScience\\Lib\\site-packages\\pyspark'

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType,BooleanType,DateType
spark = SparkSession.builder\
        .master("local[*]")\
        .appName('PySpark_Tutorial')\
        .getOrCreate()

In [32]:
# Reading CSV file

csv_file = 'C:/Users/vsubramanian/Desktop/Python/Data/NetflixUserbase.csv'
df = spark.read.csv(csv_file,
                    sep = ',',
                    header = True,
                   )
df.printSchema()

root
 |-- User ID: string (nullable = true)
 |-- Subscription Type: string (nullable = true)
 |-- Monthly Revenue: string (nullable = true)
 |-- Join Date: string (nullable = true)
 |-- Last Payment Date: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Device: string (nullable = true)
 |-- Plan Duration: string (nullable = true)

In [33]:
from pyspark.sql.types import *
from pyspark.sql.functions import to_date,col

data_schema = [
               StructField('User_ID', StringType(), True),
               StructField('Subscription_Type', StringType(), True),
               StructField('Monthly_Revenue', DoubleType(), True),
               StructField('Join_Date', StringType(), True),
               StructField('LastPayment_Date', StringType(), True),
               StructField('Country', StringType(), True),
               StructField('Age', IntegerType(), True),
               StructField('Gender', StringType(), True),
               StructField('Device', StringType(), True),
               StructField('Plan_Duration', StringType(), True),
            ]

final_struc = StructType(fields = data_schema)

data = spark.read.csv(
    csv_file,
    sep = ',',
    header = True,
    schema = final_struc 
    )

data.printSchema()

root
 |-- User_ID: string (nullable = true)
 |-- Subscription_Type: string (nullable = true)
 |-- Monthly_Revenue: double (nullable = true)
 |-- Join_Date: string (nullable = true)
 |-- LastPayment_Date: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Device: string (nullable = true)
 |-- Plan_Duration: string (nullable = true)

In [39]:
data = data.withColumn("LastPayment_Date",to_date("LastPayment_Date", "dd-MM-yy"))
data = data.withColumn("Join_Date",to_date("Join_Date", "dd-MM-yy"))
data.show()

+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+
|User_ID|Subscription_Type|Monthly_Revenue| Join_Date|LastPayment_Date|       Country|Age|Gender|    Device|Plan_Duration|
+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+
|      1|            Basic|           10.0|2022-01-15|      2023-06-10| United States| 28|  Male|Smartphone|      1 Month|
|      2|          Premium|           15.0|2021-09-05|      2023-06-22|        Canada| 35|Female|    Tablet|      1 Month|
|      3|         Standard|           12.0|2023-02-28|      2023-06-27|United Kingdom| 42|  Male|  Smart TV|      1 Month|
|      4|         Standard|           12.0|2022-07-10|      2023-06-26|     Australia| 51|Female|    Laptop|      1 Month|
|      5|            Basic|           10.0|2023-05-01|      2023-06-28|       Germany| 33|  Male|Smartphone|      1 Month|
|      6|          Premium|           15.0|2022-03-18|      2023-06-27|        France| 29|Female|  Smart TV|      1 Month|
|      7|         Standard|           12.0|2021-12-09|      2023-06-25|        Brazil| 46|  Male|    Tablet|      1 Month|
|      8|            Basic|           10.0|2023-04-02|      2023-06-24|        Mexico| 39|Female|    Laptop|      1 Month|
|      9|         Standard|           12.0|2022-10-20|      2023-06-23|         Spain| 37|  Male|Smartphone|      1 Month|
|     10|          Premium|           15.0|2023-01-07|      2023-06-22|         Italy| 44|Female|  Smart TV|      1 Month|
|     11|            Basic|           10.0|2022-05-16|      2023-06-22| United States| 31|Female|Smartphone|      1 Month|
|     12|          Premium|           15.0|2023-03-23|      2023-06-28|        Canada| 45|  Male|    Tablet|      1 Month|
|     13|         Standard|           12.0|2021-11-30|      2023-06-27|United Kingdom| 48|Female|    Laptop|      1 Month|
|     14|            Basic|           10.0|2022-08-01|      2023-06-26|     Australia| 27|  Male|Smartphone|      1 Month|
|     15|         Standard|           12.0|2023-05-09|      2023-06-28|       Germany| 38|Female|  Smart TV|      1 Month|
|     16|          Premium|           15.0|2022-04-07|      2023-06-27|        France| 36|  Male|    Tablet|      1 Month|
|     17|            Basic|           10.0|2022-01-24|      2023-06-25|        Brazil| 30|Female|    Laptop|      1 Month|
|     18|         Standard|           12.0|2021-10-18|      2023-06-24|        Mexico| 43|  Male|Smartphone|      1 Month|
|     19|          Premium|           15.0|2023-02-15|      2023-06-23|         Spain| 32|Female|  Smart TV|      1 Month|
|     20|            Basic|           10.0|2023-05-27|      2023-06-22|         Italy| 41|  Male|    Tablet|      1 Month|
+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+
only showing top 20 rows

In [40]:
data.dtypes

[('User_ID', 'string'),
 ('Subscription_Type', 'string'),
 ('Monthly_Revenue', 'double'),
 ('Join_Date', 'date'),
 ('LastPayment_Date', 'date'),
 ('Country', 'string'),
 ('Age', 'int'),
 ('Gender', 'string'),
 ('Device', 'string'),
 ('Plan_Duration', 'string')]

In [41]:
data.head(3)

[Row(User_ID='1', Subscription_Type='Basic', Monthly_Revenue=10.0, Join_Date=datetime.date(2022, 1, 15), LastPayment_Date=datetime.date(2023, 6, 10), Country='United States', Age=28, Gender='Male', Device='Smartphone', Plan_Duration='1 Month'),
 Row(User_ID='2', Subscription_Type='Premium', Monthly_Revenue=15.0, Join_Date=datetime.date(2021, 9, 5), LastPayment_Date=datetime.date(2023, 6, 22), Country='Canada', Age=35, Gender='Female', Device='Tablet', Plan_Duration='1 Month'),
 Row(User_ID='3', Subscription_Type='Standard', Monthly_Revenue=12.0, Join_Date=datetime.date(2023, 2, 28), LastPayment_Date=datetime.date(2023, 6, 27), Country='United Kingdom', Age=42, Gender='Male', Device='Smart TV', Plan_Duration='1 Month')]

In [42]:
data.show()

+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+
|User_ID|Subscription_Type|Monthly_Revenue| Join_Date|LastPayment_Date|       Country|Age|Gender|    Device|Plan_Duration|
+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+
|      1|            Basic|           10.0|2022-01-15|      2023-06-10| United States| 28|  Male|Smartphone|      1 Month|
|      2|          Premium|           15.0|2021-09-05|      2023-06-22|        Canada| 35|Female|    Tablet|      1 Month|
|      3|         Standard|           12.0|2023-02-28|      2023-06-27|United Kingdom| 42|  Male|  Smart TV|      1 Month|
|      4|         Standard|           12.0|2022-07-10|      2023-06-26|     Australia| 51|Female|    Laptop|      1 Month|
|      5|            Basic|           10.0|2023-05-01|      2023-06-28|       Germany| 33|  Male|Smartphone|      1 Month|
|      6|          Premium|           15.0|2022-03-18|      2023-06-27|        France| 29|Female|  Smart TV|      1 Month|
|      7|         Standard|           12.0|2021-12-09|      2023-06-25|        Brazil| 46|  Male|    Tablet|      1 Month|
|      8|            Basic|           10.0|2023-04-02|      2023-06-24|        Mexico| 39|Female|    Laptop|      1 Month|
|      9|         Standard|           12.0|2022-10-20|      2023-06-23|         Spain| 37|  Male|Smartphone|      1 Month|
|     10|          Premium|           15.0|2023-01-07|      2023-06-22|         Italy| 44|Female|  Smart TV|      1 Month|
|     11|            Basic|           10.0|2022-05-16|      2023-06-22| United States| 31|Female|Smartphone|      1 Month|
|     12|          Premium|           15.0|2023-03-23|      2023-06-28|        Canada| 45|  Male|    Tablet|      1 Month|
|     13|         Standard|           12.0|2021-11-30|      2023-06-27|United Kingdom| 48|Female|    Laptop|      1 Month|
|     14|            Basic|           10.0|2022-08-01|      2023-06-26|     Australia| 27|  Male|Smartphone|      1 Month|
|     15|         Standard|           12.0|2023-05-09|      2023-06-28|       Germany| 38|Female|  Smart TV|      1 Month|
|     16|          Premium|           15.0|2022-04-07|      2023-06-27|        France| 36|  Male|    Tablet|      1 Month|
|     17|            Basic|           10.0|2022-01-24|      2023-06-25|        Brazil| 30|Female|    Laptop|      1 Month|
|     18|         Standard|           12.0|2021-10-18|      2023-06-24|        Mexico| 43|  Male|Smartphone|      1 Month|
|     19|          Premium|           15.0|2023-02-15|      2023-06-23|         Spain| 32|Female|  Smart TV|      1 Month|
|     20|            Basic|           10.0|2023-05-27|      2023-06-22|         Italy| 41|  Male|    Tablet|      1 Month|
+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+
only showing top 20 rows

In [8]:
data.first()

Row(User_ID='1', Subscription_Type='Basic', Monthly_Revenue=10.0, Join_Date='15-01-22', LastPayment_Date='10-06-23', Country='United States', Age=28, Gender='Male', Device='Smartphone', Plan_Duration='1 Month')

In [9]:
data.describe().show()

+-------+-----------------+-----------------+------------------+---------+----------------+-------------+-----------------+------+------+-------------+
|summary|          User_ID|Subscription_Type|   Monthly_Revenue|Join_Date|LastPayment_Date|      Country|              Age|Gender|Device|Plan_Duration|
+-------+-----------------+-----------------+------------------+---------+----------------+-------------+-----------------+------+------+-------------+
|  count|             2500|             2500|              2500|     2500|            2500|         2500|             2500|  2500|  2500|         2500|
|   mean|           1250.5|             null|           12.5084|     null|            null|         null|          38.7956|  null|  null|         null|
| stddev|721.8321596234589|             null|1.6868513944775387|     null|            null|         null|7.171777631644684|  null|  null|         null|
|    min|                1|            Basic|              10.0| 01-03-22|        01-07-23|    Australia|               26|Female|Laptop|      1 Month|
|    max|              999|         Standard|              15.0| 31-10-22|        30-06-23|United States|               51|  Male|Tablet|      1 Month|
+-------+-----------------+-----------------+------------------+---------+----------------+-------------+-----------------+------+------+-------------+

In [10]:
data.columns

['User_ID',
 'Subscription_Type',
 'Monthly_Revenue',
 'Join_Date',
 'LastPayment_Date',
 'Country',
 'Age',
 'Gender',
 'Device',
 'Plan_Duration']

In [11]:
data.count()

2500

In [12]:
df.printSchema()

root
 |-- User ID: string (nullable = true)
 |-- Subscription Type: string (nullable = true)
 |-- Monthly Revenue: string (nullable = true)
 |-- Join Date: string (nullable = true)
 |-- Last Payment Date: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Device: string (nullable = true)
 |-- Plan Duration: string (nullable = true)

In [43]:
from pyspark.sql.functions import unix_timestamp
from pyspark.sql.functions import *
import pyspark.sql.functions as f

In [22]:
data=data.withColumn("LastPayment_Date",f.to_date(f.from_unixtime(f.col("LastPayment_Date"))))

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "from_unixtime(LastPayment_Date, yyyy-MM-dd HH:mm:ss)" due to data type mismatch: Parameter 1 requires the "BIGINT" type, however "LastPayment_Date" has the type "DATE".;
'Project [User_ID#37, Subscription_Type#38, Monthly_Revenue#39, Join_Date#40, to_date(from_unixtime(LastPayment_Date#882, yyyy-MM-dd HH:mm:ss, Some(Asia/Calcutta)), None, Some(Asia/Calcutta)) AS LastPayment_Date#894, Country#42, Age#43, Gender#44, Device#45, Plan_Duration#46]
+- Project [User_ID#37, Subscription_Type#38, Monthly_Revenue#39, Join_Date#40, to_date(from_unixtime(cast(LastPayment_Date#41 as bigint), yyyy-MM-dd HH:mm:ss, Some(Asia/Calcutta)), None, Some(Asia/Calcutta)) AS LastPayment_Date#882, Country#42, Age#43, Gender#44, Device#45, Plan_Duration#46]
   +- Relation [User_ID#37,Subscription_Type#38,Monthly_Revenue#39,Join_Date#40,LastPayment_Date#41,Country#42,Age#43,Gender#44,Device#45,Plan_Duration#46] csv

In [27]:
data.show()

+-------+-----------------+---------------+---------+----------------+--------------+---+------+----------+-------------+
|User_ID|Subscription_Type|Monthly_Revenue|Join_Date|LastPayment_Date|       Country|Age|Gender|    Device|Plan_Duration|
+-------+-----------------+---------------+---------+----------------+--------------+---+------+----------+-------------+
|      1|            Basic|           10.0| 15-01-22|        10-06-23| United States| 28|  Male|Smartphone|      1 Month|
|      2|          Premium|           15.0| 05-09-21|        22-06-23|        Canada| 35|Female|    Tablet|      1 Month|
|      3|         Standard|           12.0| 28-02-23|        27-06-23|United Kingdom| 42|  Male|  Smart TV|      1 Month|
|      4|         Standard|           12.0| 10-07-22|        26-06-23|     Australia| 51|Female|    Laptop|      1 Month|
|      5|            Basic|           10.0| 01-05-23|        28-06-23|       Germany| 33|  Male|Smartphone|      1 Month|
|      6|          Premium|           15.0| 18-03-22|        27-06-23|        France| 29|Female|  Smart TV|      1 Month|
|      7|         Standard|           12.0| 09-12-21|        25-06-23|        Brazil| 46|  Male|    Tablet|      1 Month|
|      8|            Basic|           10.0| 02-04-23|        24-06-23|        Mexico| 39|Female|    Laptop|      1 Month|
|      9|         Standard|           12.0| 20-10-22|        23-06-23|         Spain| 37|  Male|Smartphone|      1 Month|
|     10|          Premium|           15.0| 07-01-23|        22-06-23|         Italy| 44|Female|  Smart TV|      1 Month|
|     11|            Basic|           10.0| 16-05-22|        22-06-23| United States| 31|Female|Smartphone|      1 Month|
|     12|          Premium|           15.0| 23-03-23|        28-06-23|        Canada| 45|  Male|    Tablet|      1 Month|
|     13|         Standard|           12.0| 30-11-21|        27-06-23|United Kingdom| 48|Female|    Laptop|      1 Month|
|     14|            Basic|           10.0| 01-08-22|        26-06-23|     Australia| 27|  Male|Smartphone|      1 Month|
|     15|         Standard|           12.0| 09-05-23|        28-06-23|       Germany| 38|Female|  Smart TV|      1 Month|
|     16|          Premium|           15.0| 07-04-22|        27-06-23|        France| 36|  Male|    Tablet|      1 Month|
|     17|            Basic|           10.0| 24-01-22|        25-06-23|        Brazil| 30|Female|    Laptop|      1 Month|
|     18|         Standard|           12.0| 18-10-21|        24-06-23|        Mexico| 43|  Male|Smartphone|      1 Month|
|     19|          Premium|           15.0| 15-02-23|        23-06-23|         Spain| 32|Female|  Smart TV|      1 Month|
|     20|            Basic|           10.0| 27-05-23|        22-06-23|         Italy| 41|  Male|    Tablet|      1 Month|
+-------+-----------------+---------------+---------+----------------+--------------+---+------+----------+-------------+
only showing top 20 rows

In [ ]:
# Remove Rows with Missing Values

data.na.drop()

In [46]:
data.show()

+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+
|User_ID|Subscription_Type|Monthly_Revenue| Join_Date|LastPayment_Date|       Country|Age|Gender|    Device|Plan_Duration|
+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+
|      1|            Basic|           10.0|2022-01-15|      2023-06-10| United States| 28|  Male|Smartphone|      1 Month|
|      2|          Premium|           15.0|2021-09-05|      2023-06-22|        Canada| 35|Female|    Tablet|      1 Month|
|      3|         Standard|           12.0|2023-02-28|      2023-06-27|United Kingdom| 42|  Male|  Smart TV|      1 Month|
|      4|         Standard|           12.0|2022-07-10|      2023-06-26|     Australia| 51|Female|    Laptop|      1 Month|
|      5|            Basic|           10.0|2023-05-01|      2023-06-28|       Germany| 33|  Male|Smartphone|      1 Month|
|      6|          Premium|           15.0|2022-03-18|      2023-06-27|        France| 29|Female|  Smart TV|      1 Month|
|      7|         Standard|           12.0|2021-12-09|      2023-06-25|        Brazil| 46|  Male|    Tablet|      1 Month|
|      8|            Basic|           10.0|2023-04-02|      2023-06-24|        Mexico| 39|Female|    Laptop|      1 Month|
|      9|         Standard|           12.0|2022-10-20|      2023-06-23|         Spain| 37|  Male|Smartphone|      1 Month|
|     10|          Premium|           15.0|2023-01-07|      2023-06-22|         Italy| 44|Female|  Smart TV|      1 Month|
|     11|            Basic|           10.0|2022-05-16|      2023-06-22| United States| 31|Female|Smartphone|      1 Month|
|     12|          Premium|           15.0|2023-03-23|      2023-06-28|        Canada| 45|  Male|    Tablet|      1 Month|
|     13|         Standard|           12.0|2021-11-30|      2023-06-27|United Kingdom| 48|Female|    Laptop|      1 Month|
|     14|            Basic|           10.0|2022-08-01|      2023-06-26|     Australia| 27|  Male|Smartphone|      1 Month|
|     15|         Standard|           12.0|2023-05-09|      2023-06-28|       Germany| 38|Female|  Smart TV|      1 Month|
|     16|          Premium|           15.0|2022-04-07|      2023-06-27|        France| 36|  Male|    Tablet|      1 Month|
|     17|            Basic|           10.0|2022-01-24|      2023-06-25|        Brazil| 30|Female|    Laptop|      1 Month|
|     18|         Standard|           12.0|2021-10-18|      2023-06-24|        Mexico| 43|  Male|Smartphone|      1 Month|
|     19|          Premium|           15.0|2023-02-15|      2023-06-23|         Spain| 32|Female|  Smart TV|      1 Month|
|     20|            Basic|           10.0|2023-05-27|      2023-06-22|         Italy| 41|  Male|    Tablet|      1 Month|
+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+
only showing top 20 rows

In [ ]:
## Selecting Single Column

data.select('User_ID').show(5)

In [ ]:
## Selecting Multiple columns

data.select(['Subscription_Type', 'Monthly_Revenue', 'Device']).show(5)

In [ ]:
from pyspark.sql.functions import col, lit

data.filter( (col('Join_date') >= lit('2022-01-01')) & (col('Join_date') <= lit('2023-01-15')) ).show()

In [ ]:
## fetch the data where the adjusted value is between 100.0 and 500.0

data.filter(data.Monthly_Revenue.between(15.0, 20.0)).show()

In [15]:
data.select('user_id', 'Subscription_Type', 
            case when(data.Age >= 30, 1).otherwise(0)
           ).show(5)

SyntaxError: invalid syntax (3879179627.py, line 2)

In [53]:
df1=data.withColumn("months_add",add_months(date_format('LastPayment_Date','dd-MM-yy'),1))

In [54]:
df1.show()

+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+----------+
|User_ID|Subscription_Type|Monthly_Revenue| Join_Date|LastPayment_Date|       Country|Age|Gender|    Device|Plan_Duration|months_add|
+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+----------+
|      1|            Basic|           10.0|2022-01-15|      2023-06-10| United States| 28|  Male|Smartphone|      1 Month|      null|
|      2|          Premium|           15.0|2021-09-05|      2023-06-22|        Canada| 35|Female|    Tablet|      1 Month|      null|
|      3|         Standard|           12.0|2023-02-28|      2023-06-27|United Kingdom| 42|  Male|  Smart TV|      1 Month|      null|
|      4|         Standard|           12.0|2022-07-10|      2023-06-26|     Australia| 51|Female|    Laptop|      1 Month|      null|
|      5|            Basic|           10.0|2023-05-01|      2023-06-28|       Germany| 33|  Male|Smartphone|      1 Month|      null|
|      6|          Premium|           15.0|2022-03-18|      2023-06-27|        France| 29|Female|  Smart TV|      1 Month|      null|
|      7|         Standard|           12.0|2021-12-09|      2023-06-25|        Brazil| 46|  Male|    Tablet|      1 Month|      null|
|      8|            Basic|           10.0|2023-04-02|      2023-06-24|        Mexico| 39|Female|    Laptop|      1 Month|      null|
|      9|         Standard|           12.0|2022-10-20|      2023-06-23|         Spain| 37|  Male|Smartphone|      1 Month|      null|
|     10|          Premium|           15.0|2023-01-07|      2023-06-22|         Italy| 44|Female|  Smart TV|      1 Month|      null|
|     11|            Basic|           10.0|2022-05-16|      2023-06-22| United States| 31|Female|Smartphone|      1 Month|      null|
|     12|          Premium|           15.0|2023-03-23|      2023-06-28|        Canada| 45|  Male|    Tablet|      1 Month|      null|
|     13|         Standard|           12.0|2021-11-30|      2023-06-27|United Kingdom| 48|Female|    Laptop|      1 Month|      null|
|     14|            Basic|           10.0|2022-08-01|      2023-06-26|     Australia| 27|  Male|Smartphone|      1 Month|      null|
|     15|         Standard|           12.0|2023-05-09|      2023-06-28|       Germany| 38|Female|  Smart TV|      1 Month|      null|
|     16|          Premium|           15.0|2022-04-07|      2023-06-27|        France| 36|  Male|    Tablet|      1 Month|      null|
|     17|            Basic|           10.0|2022-01-24|      2023-06-25|        Brazil| 30|Female|    Laptop|      1 Month|      null|
|     18|         Standard|           12.0|2021-10-18|      2023-06-24|        Mexico| 43|  Male|Smartphone|      1 Month|      null|
|     19|          Premium|           15.0|2023-02-15|      2023-06-23|         Spain| 32|Female|  Smart TV|      1 Month|      null|
|     20|            Basic|           10.0|2023-05-27|      2023-06-22|         Italy| 41|  Male|    Tablet|      1 Month|      null|
+-------+-----------------+---------------+----------+----------------+--------------+---+------+----------+-------------+----------+
only showing top 20 rows