## NumPy Practice

This notebook offers a set of exercises for different tasks with NumPy.

It should be noted there may be more than one different way to answer a question or complete an exercise.

Exercises are based off (and directly taken from) the quick introduction to NumPy notebook.

Different tasks will be detailed by comments or text.

For further reference and resources, it's advised to check out the NumPy documentation.

And if you get stuck, try searching for a question in the following format: "how to do XYZ with numpy", where XYZ is the function you want to leverage from NumPy.

In [1]:
# Import NumPy as its abbreviation 'np'
import numpy as np
print(np.__version__)

1.25.0

In [2]:
# Create a 1-dimensional NumPy array using np.array()
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
# Create a 2-dimensional NumPy array using np.array()
arr1 = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

print(arr1)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [4]:
# Create a 3-dimensional Numpy array using np.array()
nested_list = [[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]],
               [[13, 14, 15, 16], [17, 18, 19, 20], [21, 22, 23, 24]]]
arr3 = np.array(nested_list)

print(arr3)

[[[ 1  2  3  4]
  [ 5  6  7  8]
  [ 9 10 11 12]]

 [[13 14 15 16]
  [17 18 19 20]
  [21 22 23 24]]]

Now we've you've created 3 different arrays, let's find details about them.

Find the shape, number of dimensions, data type, size and type of each array.

In [5]:
# Attributes of 1-dimensional array (shape, 
# number of dimensions, data type, size and type)
print(arr.shape)
print(arr.size)
print(arr.ndim)
print(arr.dtype)
print(arr.size)
print(arr.itemsize)

(10,)
10
1
int32
10
4

In [6]:
# Attributes of 2-dimensional array
print(arr1.shape)
print(arr1.size)
print(arr1.ndim)
print(arr1.dtype)
print(arr1.size)
print(arr1.itemsize)
print(arr1.data)

(3, 4)
12
2
int32
12
4
<memory at 0x000001CF6DAFA400>

In [7]:
# Attributes of 3-dimensional array
print(arr3.shape)
print(arr3.size)
print(arr3.ndim)
print(arr3.dtype)
print(arr3.size)
print(arr3.itemsize)
print(arr3.data)

(2, 3, 4)
24
3
int32
24
4
<memory at 0x000001CF6DADD990>

In [8]:
# Import pandas and create a DataFrame out of one
# of the arrays you've created
import pandas as pd
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
df = pd.DataFrame(lst)
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [9]:
# Create an array of shape (10, 2) with only ones
arr_2d = np.ones( (10, 2) , dtype=np.int64)
print(arr_2d)

[[1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]]

In [10]:
# Create an array of shape (7, 2, 3) of only zeros
arr_3d = np.zeros( (7, 2,3) , dtype=np.int64)
print(arr_3d)

[[[0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]]]

In [11]:
# Create an array within a range of 0 and 100 with step 3
lst = np.arange(0,101).tolist()
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [12]:
# Create a random array with numbers between 0 and 10 of size (7, 2)
from numpy import random

x = random.randint(10, size=(7, 2))

print(x)

[[9 0]
 [2 8]
 [5 9]
 [3 3]
 [5 2]
 [7 5]
 [4 4]]

In [13]:
# Create a random array of floats between 0 & 1 of shape (3, 5)

rand_arr = np.random.randint(low=0, high=1, size=(3,5)) + np.random.random((3,5))
rand_arr

array([[0.03570004, 0.89084553, 0.23995263, 0.61172643, 0.14933429],
       [0.11348818, 0.54735264, 0.25056151, 0.07205125, 0.8704885 ],
       [0.25558037, 0.05773729, 0.60348902, 0.40385076, 0.70293057]])

In [14]:
# Set the random seed to 42
np.random.seed(42)

# Create a random array of numbers between 0 & 10 of size (4, 6)

x = random.randint(10, size=(4, 6))

print(x)

[[6 3 7 4 6 9]
 [2 6 7 4 3 7]
 [7 2 5 4 1 7]
 [5 1 4 0 9 5]]

Run the cell above again, what happens?

Are the numbers in the array different or the same? Why do think this is?

In [15]:
# Create an array of random numbers between 1 & 10 of size (3, 7)
a = np.random.randint(low=1, high=10, size = (3,7))
print(a) 
# and save it to a variable

[[9 1 3 7 4 9 3]
 [5 3 7 5 9 7 2]
 [4 9 2 9 5 2 4]]

In [16]:
# Find the unique numbers in the array you just created
gfg = np.unique(a)
print(gfg)

[1 2 3 4 5 7 9]

In [17]:
# Find the 0'th index of the latest array you created

nums = random.randint(10, size=(4, 6))
print("array:")
print(nums)
print("Find the 0'th index of the latest array you created:")
result = np.where(nums == 0)[0]
print(result)

array:
[[6 7 2 0 3 1]
 [7 3 1 5 5 9]
 [3 5 1 9 1 9]
 [3 7 6 8 7 4]]
Find the 0'th index of the latest array you created:
[0]

In [18]:
#Get the first 2 values of the first 2 rows of the latest array
arra_data = np.arange(0,9).reshape((3, 3))
print("array:")
print(arra_data)
print("\nfirst 2 values of the first 2 rows of the latest array ")
print(arra_data[0:2, 0:2])

array:
[[0 1 2]
 [3 4 5]
 [6 7 8]]

first 2 values of the first 2 rows of the latest array
[[0 1]
 [3 4]]

In [19]:
# Create a random array of numbers between 0 & 10 and an array of ones
# both of size (3, 5), save them both to variables

nums = random.randint(0,10, size=(3, 5))
print("array:")
print(nums)

array:
[[1 4 7 9 8]
 [8 0 8 6 8]
 [7 0 7 7 2]]

In [20]:
arr_1 = np.ones((10))
print("Original array:")
print(arr_1)

Original array:
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [21]:
# Add the two arrays together
arr1 = np.array([3, 2, 1])
arr2 = np.array([1, 2, 3])
   
print ("1st array : ", arr1)  
print ("2nd array : ", arr2)  
   
out_arr = np.add(arr1, arr2)  
print ("added array : ", out_arr)

1st array :  [3 2 1]
2nd array :  [1 2 3]
added array :  [4 4 4]

In [22]:
# Create another array of ones of shape (5, 3)
#using no.ones
y = np.ones([5, 3], dtype=np.uint) *1
print(y)

[[1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]]

In [23]:
# Try add the array of ones and the other most recent array together
x = np.full((5, 3), 2, dtype=np.uint)
print(x)
#using no.ones
y = np.ones([5, 3], dtype=np.uint) *1
print(y)
out_arr = np.add(x, y)  
print ("added array : \n", out_arr)

[[2 2 2]
 [2 2 2]
 [2 2 2]
 [2 2 2]
 [2 2 2]]
[[1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]]
added array :
 [[3 3 3]
 [3 3 3]
 [3 3 3]
 [3 3 3]
 [3 3 3]]

When you try the last cell, it produces an error. Why do think this is?

How would you fix it?

In [27]:
# Create another array of ones of shape (3, 5)
y = np.ones([3, 5])
print(y)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [30]:
# Subtract the new array of ones from the other most recent array
ar_sub = np.subtract(nums, y)
print(ar_sub)

[[ 0.  3.  6.  8.  7.]
 [ 7. -1.  7.  5.  7.]
 [ 6. -1.  6.  6.  1.]]

In [36]:
# Multiply the ones array with the latest array
ar_mul = np.multiply(nums, y)
print(ar_mul)

[[1. 4. 7. 9. 8.]
 [8. 0. 8. 6. 8.]
 [7. 0. 7. 7. 2.]]

In [37]:
# Take the latest array to the power of 2 using '**'
arr_pow2 = ar_mul ** 2
arr_pow2

array([[ 1., 16., 49., 81., 64.],
       [64.,  0., 64., 36., 64.],
       [49.,  0., 49., 49.,  4.]])

In [38]:
# Do the same thing with np.square()
arr_sq = np.square(ar_mul)
arr_sq

array([[ 1., 16., 49., 81., 64.],
       [64.,  0., 64., 36., 64.],
       [49.,  0., 49., 49.,  4.]])

In [40]:
# Find the mean of the latest array using np.mean()
arr_mean = np.mean(arr_sq)
arr_mean

39.333333333333336

In [41]:
# Find the maximum of the latest array using np.max()
arr_max = np.max(nums)
arr_max

9

In [43]:
# Find the minimum of the latest array using np.min()
arr_min = np.min(nums)
arr_min

0

In [44]:
# Find the standard deviation of the latest array
arr_sd = np.std(arr_pow2)
print(arr_sd)

26.97076606665488

In [45]:
# Find the variance of the latest array
arr_vr = np.var(arr_pow2)
print(arr_vr)

727.4222222222223

In [46]:
# Reshape the latest array to (3, 5, 1)
arr_reshape = np.reshape(arr_pow2, (3, 5, 1))
print(arr_reshape)

[[[ 1.]
  [16.]
  [49.]
  [81.]
  [64.]]

 [[64.]
  [ 0.]
  [64.]
  [36.]
  [64.]]

 [[49.]
  [ 0.]
  [49.]
  [49.]
  [ 4.]]]

In [47]:
# Transpose the latest array
arr_transp = arr_pow2.T
print(arr_transp)

[[ 1. 64. 49.]
 [16.  0.  0.]
 [49. 64. 49.]
 [81. 36. 49.]
 [64. 64.  4.]]

What does the transpose do?

Ans: The transpose of a matrix is an operation that swaps its rows and columns, effectively flipping the matrix over its diagonal. This means that the element at the ith row and jth column of the original matrix becomes the element at the jth row and ith column in the transposed matrix.

In [48]:
# Create two arrays of random integers between 0 to 10
# one of size (3, 3) the other of size (3, 2)

arr_3 = np.random.randint(0, 11, size = (3, 3))
arr_2 = np.random.randint(0, 11, size = (3, 2))

print(f"Array of 3 X 3 : \n", arr_3)
print(f"Array of 3 X 2 : \n", arr_2)

Array of 3 X 3 :
 [[ 0  7  2]
 [ 2  0 10]
 [ 4  9  6]]
Array of 3 X 2 :
 [[9 8]
 [6 8]
 [7 1]]

In [56]:
# Perform a dot product on the two newest arrays you created

print("Original arrays:")
print(arr_3)
print(nums)
# Find the dot product
arr_dot1 = np.dot(arr_3, nums)
# Print the result
print("Dot product of the said two arrays:")
print(arr_dot1)

Original arrays:
[[ 0  7  2]
 [ 2  0 10]
 [ 4  9  6]]
[[1 4 7 9 8]
 [8 0 8 6 8]
 [7 0 7 7 2]]
Dot product of the said two arrays:
[[ 70   0  70  56  60]
 [ 72   8  84  88  36]
 [118  16 142 132 116]]

In [55]:
# Create two arrays of random integers between 0 to 10 both of size (4, 3)

array1 = np.random.randint(0, 11, size = (4, 3))
array2 = np.random.randint(0, 11, size = (4, 3))

print(f"Array 1 :\n", array1)
print(f"Array 2 :\n", array2)

Array 1 :
 [[ 0  6  6]
 [ 7  4  2]
 [ 7  5 10]
 [ 2  0  2]]
Array 2 :
 [[ 4  2  0]
 [ 4  9  6]
 [ 6 10  8]
 [ 9  9  2]]

In [65]:
# Perform a dot product on the two newest arrays you created

nums1 = np.array([[1, 2, 3], [3, 4, 6], [5, 6, 7]])
nums2 = np.array([9, 8, 10])
print("Original arrays:")
print(nums1)
print(nums2)
# Find the dot product
arr_dot3 = np.dot(nums1, nums2)
# Print the result
print("Dot product of the said two arrays:")
print(result)

Original arrays:
[[1 2 3]
 [3 4 6]
 [5 6 7]]
[ 9  8 10]
Dot product of the said two arrays:
[ 55 119 163]

It doesn't work. How would you fix it?

Ans: tansposing the 2nd Array.

In [66]:
# Take the latest two arrays, perform a transpose on one of them and then perform 
# a dot product on them both
nums3 = nums1.T
arr_dot4 = np.dot(nums3, nums2)
arr_dot4

array([ 83, 110, 145])

Notice how performing a transpose allows the dot product to happen.

Why is this?

Performing a transpose allows the dot product to happen because of the way matrix multiplication is defined and the requirements for the dimensions of matrices involved in the operation.

In matrix multiplication (dot product), the number of columns in the first matrix must be equal to the number of rows in the second matrix for the multiplication to be defined and valid. If the matrices don't have compatible dimensions, the multiplication cannot be performed.

When perform a transpose on a matrix, you effectively interchange its rows and columns. This operation changes the dimensions of the matrix. If the original matrix's rows are equal to the columns of the other matrix, then after transposing, the rows of one matrix will match the rows of the other matrix, and the dot product can be computed.

Checking out the documentation on np.dot() may help, as well as reading Math is Fun's guide on the dot product.

Let's now compare arrays.

In [67]:
# Create two arrays of random integers between 0 & 10 of the same shape
# and save them to variables

array_1 = np.random.randint(0, 11, size = (6, 4))
array_2 = np.random.randint(0, 11, size = (6, 4))

print(f"Array 1 :\n", array_1)
print(f"Array 2 :\n", array_2)

Array 1 :
 [[ 6  0  3  3]
 [ 4  6  6 10]
 [ 3  6 10  2]
 [ 5  1  9  8]
 [ 4  5  3 10]
 [ 9  6  8  6]]
Array 2 :
 [[ 0  0  8 10]
 [ 8  3  8  2]
 [ 6  5  7 10]
 [ 8  4  0  2]
 [ 9  7 10  5]
 [ 7  8  3  0]]

In [68]:
# Compare the two arrays with '>'

arr_grt = array_1 > array_2
print(arr_grt)

[[ True False False False]
 [False  True False  True]
 [False  True  True False]
 [False False  True  True]
 [False False False  True]
 [ True False  True  True]]

What happens when you compare the arrays with >?

When we compare two arrays using the > operator, element-wise comparison is performed between the corresponding elements of the arrays. The result is a new array with the same shape as the original arrays, where each element is a boolean value (True or False) indicating whether the comparison is true for that element.

In [70]:
# Compare the two arrays with '>='

arr_grteq = array_1 >= array_2
print(arr_grteq)

[[ True  True False False]
 [False  True False  True]
 [False  True  True False]
 [False False  True  True]
 [False False False  True]
 [ True False  True  True]]

In [71]:
# Find which elements of the first array are greater than 7
element = array_1 > 7
greater = array_1[element]
print("Elements of 1st Array greater than 7 : ",greater)

Elements of 1st Array greater than 7 :  [10 10  9  8 10  9  8]

In [72]:
# Which parts of each array are equal? (try using '==')

arr_equal = array_1 == array_2
print(arr_equal)

[[False  True False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]]

In [73]:
# Sort one of the arrays you just created in ascending order

sort_arr = np.sort(array_1)

print(f"Original Array : \n", array_1)
print(f" Array after Sorting : \n", sort_arr)

Original Array :
 [[ 6  0  3  3]
 [ 4  6  6 10]
 [ 3  6 10  2]
 [ 5  1  9  8]
 [ 4  5  3 10]
 [ 9  6  8  6]]
 Array after Sorting :
 [[ 0  3  3  6]
 [ 4  6  6 10]
 [ 2  3  6 10]
 [ 1  5  8  9]
 [ 3  4  5 10]
 [ 6  6  8  9]]

In [74]:
# Sort the indexes of one of the arrays you just created

sort_idx = np.argsort(array_1)

print(f"Original Array : \n", array_1)
print(f" Array after Index Sorting : \n", sort_idx)

Original Array :
 [[ 6  0  3  3]
 [ 4  6  6 10]
 [ 3  6 10  2]
 [ 5  1  9  8]
 [ 4  5  3 10]
 [ 9  6  8  6]]
 Array after Index Sorting :
 [[1 2 3 0]
 [0 1 2 3]
 [3 0 1 2]
 [1 0 3 2]
 [2 0 1 3]
 [1 3 2 0]]

In [75]:
# Find the index with the maximum value in one of the arrays you've created

max_idx = np.argmax(array_1)
num_col = array_1.shape[1]
row_idx = max_idx // num_col
col_idx = max_idx % num_col

print(f"Original Array : \n", array_1)
print("\nIndex of Maximum Value:", max_idx)
print("Row Index of Maximum Value:", row_idx)
print("Column Index of Maximum Value:", col_idx)

Original Array :
 [[ 6  0  3  3]
 [ 4  6  6 10]
 [ 3  6 10  2]
 [ 5  1  9  8]
 [ 4  5  3 10]
 [ 9  6  8  6]]

Index of Maximum Value: 7
Row Index of Maximum Value: 1
Column Index of Maximum Value: 3

In [76]:
# Find the index with the minimum value in one of the arrays you've created

min_idx = np.argmin(array_1)

# Convert the flattened index to row and column indices
row_idx, col_idx = np.unravel_index(min_idx, array_1.shape)

print("Array :")
print(array_1)

print("\nIndex of Minimum Value:", min_idx)
print("Row Index of Minimum Value:", row_idx)
print("Column Index of Minimum Value:", col_idx)

Array :
[[ 6  0  3  3]
 [ 4  6  6 10]
 [ 3  6 10  2]
 [ 5  1  9  8]
 [ 4  5  3 10]
 [ 9  6  8  6]]

Index of Minimum Value: 1
Row Index of Minimum Value: 0
Column Index of Minimum Value: 1

In [77]:
# Find the indexes with the minimum values across the 0th axis (axis=0) of one of the arrays you created

idx_min = np.argmin(array_1, axis = 0)
print(f"Array : \n", array_1)
print(f"\nIndex with Minimum valus across the Axis-0 : ", idx_min)

Array :
 [[ 6  0  3  3]
 [ 4  6  6 10]
 [ 3  6 10  2]
 [ 5  1  9  8]
 [ 4  5  3 10]
 [ 9  6  8  6]]

Index with Minimum valus across the Axis-0 :  [2 0 0 2]

In [78]:
# Create an array of normally distributed random numbers

mean = 0
std = 1
num = 10


rand_num = np.random.normal(mean, std, num)

print(f"Array of normally Distributed Random Numbers : \n", rand_num)

Array of normally Distributed Random Numbers :
 [-0.01548334 -0.02737645  0.81787351 -1.05460447 -0.75832712  0.45741565
 -0.06437805  0.34490234 -0.08008734 -0.24138013]

In [80]:
# Create an array with 10 evenly spaced numbers between 1 and 100

start = 1
end = 100
space = 10

evenly_arr = np.linspace(start, end, space)

print(f" Array with 10 Evenly Spaced Numbers : \n", evenly_arr)

 Array with 10 Evenly Spaced Numbers :
 [  1.  12.  23.  34.  45.  56.  67.  78.  89. 100.]